* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: barlow condensed, sans-serif;
    
}

#header {
    background: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100px;
}

#logga {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background: darkgray;
}

#rubrik {
    width: 500px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-left: 250px;
    font-size: 2rem;
    border-radius: 10px;
}

#shop {
    width: 100px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-radius: 10px;
}

#om_oss {
    width: 100px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-radius: 10px;
}

#recension {
    width: 100px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-radius: 10px;
}

#loggo-img {
    width: 125px;
    height:auto;
}

#se2 {
    background-color: darkgray;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: underline;
}

#se4 {
    position: absolute;
    top:30%;
    left: 7%;
}

#suit_1 {
    background-size: cover;
    width: 100%;
    height: 600px;
}

#övertext {
    font-size: 1rem;
    width: 400px;
    font-weight: normal;
    text-transform: uppercase;

}

#underrubik_index {
    font-size: 3rem;
    text-transform: capitalize;
    width: 400px;
    word-spacing: 0;
}

#gridwrapper_2 {
    background-color: lightgrey;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "mh1 mh1 mh1"
    "se5 se6 se7"
    "foo foo foo";
}

#mini_head_1 {
    grid-area: mh1;
    background-color: #a9a9a9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mini_text {
    font-size: 1.25rem;
    text-transform: capitalize;
    word-spacing: 0;
}

#se5 {
    grid-area: se5;
    background-color: lightgrey;
}

#se6 {
    grid-area: se6;
    background-color: lightgrey;
}

#se7 {
    grid-area: se7;
    background-color: lightgrey;
}

.suit_rekkomendation {
    width: 421px; 
    height: 450px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: darkgrey;
    padding: 40px 0;
    text-align: center;
    grid-area: foo;  
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 100%; 
    margin: 0 auto;
    padding: 0 20px; 
}

.footer-section {
    flex: 1;
    padding: 0 20px;
    max-width: 300px; 
    margin-bottom: 20px; 
}

.footer-section h3 {
    margin-bottom: 20px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: darkgrey;
    font-size: 24px; 
    display: flex;
    align-items: center; 
}

.social-icons li img {
    width: 24px; 
    height: auto; 
    margin-right: 5px; 
}

.copyright {
    margin-top: 20px;
}


#gridwrapper_3 {
    background-color: lightgrey;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "se8 se9 se10"
    "se11 se12 se13";
}

#se8 {
    grid-area: se8;
    background-color: lightgrey;
}
#se9 {
    grid-area: se9;
    background-color: lightgrey;
}
#se10 {
    grid-area: se10;
    background-color: lightgrey;
}
#se11 {
    grid-area: se11;
    background-color: lightgrey;
}
#se12 {
    grid-area: se12;
    background-color: lightgrey;
}
#se13 {
    grid-area: se13;
    background-color: #d3d3d3;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px
}


.card-image {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.card-text {
    font-size: 0.80rem;
    font-weight: normal;
    text-transform: uppercase;
}

.pris {
    font-size: 1.5rem;
    text-transform: capitalize;
    word-spacing: 0;
}

.material {
    font-size: 0.80rem;
    font-weight: normal;
    text-transform: uppercase;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.cart {
    width: 30px;
    height: auto;
}

#gridwrapper_4 {
    background-color: lightgrey;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "se15 se16" 
    "se17 se21";
}

#se15 {
    grid-area: se15;
    padding: 10px;
} 

#se16 {
    grid-area: se16;
    padding: 10px;
}

.holder {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 500px;
}

#se17 {
    grid-area: se17;
    padding: 10px;
    
} 

#se21 {
    grid-area: se21;
    padding: 10px;
}

.omossp {
    margin-bottom: 15px;
}

.rubrik_om_oss {
    font-size: 1.25rem;
    text-transform: capitalize;
    word-spacing: 0;
}

#om_oss_suit {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#new_york {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.shop1 {
    grid-area: s1;
    display: flex;
    align-items: end;
}


.shop2 {
    grid-area: s2;
    display: flex;
    justify-content: left;
}


.shop3 {
    grid-area: s3;
    display: flex;
    justify-content: right;
}

.shop4 {
    grid-area: s4;
    display: flex;
    justify-content: left;
}

.shop_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "s1 s1"
    "s4 s4"
    "s2 s3";

}

#gridwrapper_5 {
    background-color: lightgrey;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "se18 se19 se20";
}

#se18 {
    display: grid;
    grid-area: se18;
    display: flex;
    justify-content: center;
    align-items: center;
}

#se19 {
    display: grid;
    grid-area: se19;
}

#se20 {
    display: grid;
    grid-area: se20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_img {
    width: 50px;
    height: auto;
    margin: 10px;
} 

#img_bildspel {
    width: 225px;
    height: 80vh;
    border-radius: 20px; 
    margin-top: 5px;

}

#bildspel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

#stars {
    width: 200px;
    height: auto;
}

#tom1 {
    grid-area: t1;
}

#tom2 {
    grid-area: t2;
}

#star {
    grid-area: st;
    display: flex;
    align-self: center;
    justify-self: center;
}

#vanster {
    margin: 10px;
    grid-area: va;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "ic na"
    "ic pl"
    "da da";
}

#icon {
    grid-area: ic;
}

#pfp {
    width: 100%;
    height: auto;
}

#namn {
    grid-area: na;
    display: flex;
    align-self: end;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#plats {
    grid-area: pl;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    font-weight: bold;
    color: gray;
    font-size: 0.75rem;   
}

#datum {
    grid-area: da;
    display: flex;
    align-self: center;
    justify-self: center;
    color: gray;
}

#text {
    grid-area: tx;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 28px;
}

#underrubrik {
    font-size: 1.5rem;
    font-weight: bold;
}

#text_recension {
    font-size: 1rem;
}

#galleri {
    margin: 10px;
    background-color: white;
    height:500px;
    width: 800px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 0.4fr;
    grid-template-areas:
    "t1 bs t2"
    "va tx st";
}

nav {
    display: none;
}

@media screen and (max-width: 800px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        --burgerline_width: 30px;
        --burgerline_height: 5px;
        --burgerline_margin: 6px;
        --background_color: darkgrey;
    }

    nav{
        display: block;
    }

    #mobil_rubrik_1 {
        font-size: 2rem;
        display: flex;
        position: relative;
    }

    #mobil_rubrik_2 {
        font-size: 2rem;
        display: flex;
        position: relative;
        margin-right: 23%;
    }

    #mobil_rubrik_3 {
        font-size: 2rem;
        display: flex;
        position: relative;
        margin-right: 15%;
    }

    #mobil_rubrik_4 {
        font-size: 2rem;
        display: flex;
        position: relative;
        margin-right: 28%;
    }
    
    #header {
        display: none;
    }


    #övertext {
        font-size: 0.75rem;
        width: 200px;    
    }
    
    #underrubik_index {
        font-size: 1.25rem;
        width: 300px;
    }

    #suit_1 {
        height: 300px;
    }


    #se4 {
        position: absolute;
        top:30%;
        left: 2%;
    }

    #se15 {
        grid-area: se15;
        padding: 10px;
        display: none;
    } 


    #se21 {
        grid-area: se21;
        padding: 10px;
        display: none;
    } 

    #gridwrapper_4 {
        display: flex;
        flex-direction: column;    
        justify-content: center;
        align-items: center;
    }

    nav {
        height: 120px;
        background-color: var(--background_color);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
    }
    

    #link_list {
        background: darkgray;
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 175px;
        position: absolute;
        top: -400px;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        transition: all 0.5s;
    }

    #link_list a {
        text-decoration: none;
        color: white;    
        font-weight: 1000;
        letter-spacing: 0.1875rem;
        text-transform: uppercase;
        width: 200px;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .link_visible {
        transform: translateY(520px);
    }

    .burger_line {
        width: var(--burgerline_width);
        height: var(--burgerline_height);
        margin: var(--burgerline_margin);
        background-color: white;
        border-radius: 20%;
        transition: all 0.5s;
    }

    .burger_in_x_form #Burger_line_1 {
        transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
    }

    .burger_in_x_form #Burger_line_2 {
        opacity: 0;
    }

    .burger_in_x_form #Burger_line_3 {
        transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
    }

    #burger {
        cursor: pointer;
    }

    #gridwrapper_3 {
        display: flex;
        flex-direction: column;
    }


    #gridwrapper_2 {
        display: flex;
        flex-direction: column;    
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .suit_rekkomendation {
        height: auto; 
        width: 100%;
    }

    #mini_head_1 {
        height: 100px;
        width: 100%;
    }

    #mini_text {
        font-size: 1rem;
    }

    #galleri {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        height: 600px;
    }

    #bildspel {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: bs;
    }

    #gridwrapper_5 {
        background-color: lightgrey;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
        "se18 se19 se20";
    }
   
    #se18 {
        display: grid;
        grid-area: se18;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #se19 {
        display: grid;
        grid-area: se19;
        margin-right: 20px;
    }
    
    #se20 {
        display: grid;
        grid-area: se20;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .arrow_img {
        width: 50px;
        height: auto;
        margin: 10px;
    } 

    #img_bildspel {
        width: 225px;
        height: 350px;

    }
    
    #text{
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
    }

    #pfp {
        width: 50%;
        height: auto;
        display: flex;
        margin-left: 35px;
    }

    #namn {
        display: flex;
        justify-content: start;
        align-items: center;

    }

    #plats {
        display: flex;
        justify-content: start;
        align-items: center;

    } 

    #underrubrik {
        font-size: 1.25rem;
    }
    
    #text_recension {
        font-size: 0.75rem;
    }

    #stars {
        width: 150px;
        height: auto;
    }

    .holder {
        height: 750px;
    }
    
}













